@font-face{
	font-family: fount1;
	src: url("1.ttf");
}
@font-face{
	font-family: fount2;
	src: url("2.ttf");
}
@font-face{
	font-family: fount3;
	src: url("3.otf");
}
body{
	margin: 0;
}
.preload {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
#top-menu{
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #00eaff;
	z-index: 1;
}
.box1{
	width: 100%;
}
.box-img{
	width: 100%;
}
.top-menu-el{
	display: inline-block;
	height: 30px;
	padding: 10px;
	font-size: 25px;
	overflow: hidden;
	color: #000;
}
.top-menu-btn{
	border-bottom: solid #1500ff 0;
	transition-duration:300ms ;
	transition-property: border-bottom-width, padding-bottom, color;	
}
.top-menu-btn:hover{
	color: #696969;
	border-bottom: solid #1500ff 10px;
	padding-bottom:  0;
}
.top-menu a{
	text-decoration: none;
}
.top-menu-el-img{
	height: 100%;
	margin: -5px;
}
.box1-slide{
	width: 100%;
	position: relative;
}
#box1-slide1{
	display: block;
}
#box1-slide2{
	display: none;
}
.box1-slide-title{
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.box1-slide-title p{
	font-size: 30px;
	color: #fff;
	text-shadow: 0 0 10px #000;
}
.box1-slide-title b{
	font-size: 50px;
	color: #66cfff;
	font-family: fount3;
	text-shadow: 0 0 10px #000;
}
.box1-slide-title-img{
	height: 150px;
	left: 20%;
}
#box1-slide1-title{
	left: 75%;
}
#box1-slide2-title{
	left: 50%;
	text-align: center;
}
.box-slide-img{
	width: 100%;
}
.prety-btn{
	background-color: #1500ff;
	padding: 10px;
	font-size: 30px;
	color: #fff;
	display: inline-block;
	font-family: fount1;
	transition-duration: 200ms;
	transition-property: transform
}
.prety-btn:hover{
	transform: skew(-5deg) translateX(2.3px);
}.prety-btn div{
	transition-duration: 200ms;
	transition-property: transform
}
.prety-btn:hover div{
	transform: skew(-5deg) translateX(2.3px);
}
#box1-slide1-play-btn{
	position: absolute;
	height: 100px;
	width: 100px;
	bottom: 50px;
	right: 30px;
	background-color: rgba(3, 10, 255, 0.7);
	border-radius:50%;
	border: solid #000485 5px;
}
.triangle-right{
	background-color: #000485;
	height: 60px;
	width: 50px;
	position: absolute;
	right: 50%;
	top: 50%;
	left: 55%;
	transform:translate(-50%, -50%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}
.box{
	position: relative;
	width: 100%;
}
#box1-img{
	width: 100%;
}
#box-title{
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-50% -50%);
	color: #020540;
	font-size: 36px;
}
#box-title b{
	font-size: 40px;
}
#box-title a{
	text-decoration: none;
}
.border-btn{
	border: solid #fff 2px;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	font-size: 29px;
	padding: 10px;
	margin: 10px;
	transition-duration: 200ms;
	transition-property: padding, margin;
	text-shadow: 0 0 10px #000;
	/*box-shadow: 0 0 10px #000 inset;*/ 
}
.box1-btn{
	display: inline-block;
}
.border-btn:hover{
	padding: 15px;
	margin: 5px;

}
.box2-title-btn{
	display:inline-block; 
}
#box2-title{
position: absolute;
width:10%;
top: 40%;
left:15%;
transform: translate(-50%,-50%); 
text-align: center;
font-size: 30px;
color: #fff;
text-shadow: 0 0 5px #00ffae;
}
#box2-title a{
text-decoration: none;
}
#box2-title b{
	font-size: 50px;

}
#box2-title-img{
	width: 180px;
}

#box1-title-btn{
	display: inline-block;

}
#box2-title-btn{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.gold-btn{
	background-color: 	#4503fc;
	border-color:	#2b00a1;
}
#box2-img{
	width: 100%;
}
#box1{
	margin-bottom: -4px
}
#box2{
	margin-bottom: -4px
}
#footer{
	background-color: #111;
	font-size: 30px;
	width: 100%;
}
#footer a{
	color: #aaa;
	margin-right: 50px;
	position: relative;
	z-index: 1000;
}
.middle{
	height: 5px;
	width: 100%;
	background: linear-gradient(to right, #00bbff, #b300ff);
	margin-top: -5px;
}