@font-face{
	font-family: fount1;
	src: url("1.ttf");
}
@font-face{
	font-family: fount2;
	src: url("2.ttf");
}
@font-face{
	font-family: fount3;
	src: url("3.otf");
}
body{
	margin: 0;
}
.preload {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
#top-menu{
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #00eaff;
	z-index: 1;
}
.box1{
	width: 100%;
}
.box-img{
	width: 100%;
}
.top-menu-el{
	display: inline-block;
	height: 30px;
	padding: 10px;
	font-size: 25px;
	overflow: hidden;
	color: #000;
}
.top-menu-el a{
	text-decoration: none;
}
.top-menu-btn{
	border-bottom: solid #1500ff 0;
	transition-duration:300ms ;
	transition-property: border-bottom-width, padding-bottom, color;	
}
.top-menu-btn:hover{
	color: #696969;
	border-bottom: solid #1500ff 10px;
	padding-bottom:  0;
}
.top-menu a{
	text-decoration: none;
}
.top-menu-el-img{
	height: 100%;
	margin: -5px;
}
.box1-slide{
	width: 100%;
	position: relative;
}
#box1-slide1{
	display: block;
}
#box1-slide2{
	display: none;
}
.box1-slide-title{
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.box1-slide-title p{
	font-size: 30px;
	color: #fff;
	text-shadow: 0 0 10px #000;
}
.box1-slide-title b{
	font-size: 50px;
	color: #66cfff;
	font-family: fount3;
	text-shadow: 0 0 10px #000;
}
.box1-slide-title-img{
	height: 150px;
	left: 20%;
}
#box1-slide1-title{
	left: 75%;
}
#box1-slide2-title{
	left: 50%;
	text-align: center;
}
.box-slide-img{
	width: 100%;
}
.prety-btn{
	background-color: #1500ff;
	padding: 10px;
	font-size: 30px;
	color: #fff;
	display: inline-block;
	font-family: fount1;
	transition-duration: 200ms;
	transition-property: transform
}
.prety-btn:hover{
	transform: skew(-5deg) translateX(2.3px);
}.prety-btn div{
	transition-duration: 200ms;
	transition-property: transform
}
.prety-btn:hover div{
	transform: skew(-5deg) translateX(2.3px);
}
#box1-slide1-play-btn{
	position: absolute;
	height: 100px;
	width: 100px;
	bottom: 50px;
	right: 30px;
	background-color: rgba(3, 10, 255, 0.7);
	border-radius:50%;
	border: solid #000485 5px;
}
.triangle-right{
	background-color: #000485;
	height: 60px;
	width: 50px;
	position: absolute;
	right: 50%;
	top: 50%;
	left: 55%;
	transform:translate(-50%, -50%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}